:root {
    --white: #fff;
    --primary-color: #1C1C1C;
    --second-color: #D3D3D3;


    --laranja-vivo: #FF6A00;
    --preto-profundo: #1C1C1C;
    --vermelho-escuro: #B22222;
    --azul-sereno: #4682B4;
    --cinza-claro: #D3D3D3;
    --dourado-suave: #FFC300;
}
