:host {
    .list-items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 50px;

        .character {
            position: relative;
            padding: 30px;
    
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            width: 40%;
            height: 250px;
    
            border-radius: 10px;
    
            text-decoration: none;
            color: var(--cinza-claro);
            background: var(--azul-sereno);
    
            &__status {
                h2 {
                    font-size: 22px;
                    font-style: italic;
                    font-weight: 700;
                }
    
                ul {
                    display: flex;
                    flex-direction: column;
                    margin-top: 20px;
    
                    gap: 7px;
                    li {
                        font-weight: 300;
                        font-size: 14px;
                    }
                }
            }
    
            &__image {
                opacity: 1;
                position: absolute;
                right: -30px;
                bottom: -30px;
            }
        }
    
    }

    .loading {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;

        p {
            margin: 20px 0;
            font-size: 24px;
            font-weight: 300;
            color: var(--cinza-claro);
        }
    }
}