@for (item of getCharacters()?.values(); track $index) {
    <div class="list-items">
        <a href="" class="character">
            <section class="character__status">
                <h2>{{ item.name }}</h2>
                <ul>
                    <li>{{ item.rank }}</li>
                    <li>{{ item.village.name.split(' ')[0] }}</li>
                </ul>
            </section>
            
            <section class="character__image">
                <img
                    height="350rem"
                    [src]="item.images[0].image_url"
                    [alt]="item.name">
            </section>
        </a>
    </div>
} @empty {
    <div class="loading">
        <p>Carregando personagens</p>
        <img
            src="assets/icons/narutomaki.png"
            alt="Ícone de carregamento - Narutomaki"
            height="28px"
        >
    </div>
}